[init]
  templatedir = ~/.git_template
  defaultBranch = main
[user]
  email = halivelazquez@outlook.com
  name = Halí V.
  signingKey = halivelazquez@outlook.com
[core]
  autocrlf = input
[pull]
  ff = only
  rebase = false
[merge]
  ff = no
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
	helper = 
	helper = /usr/bin/git-credential-manager
[commit]
  gpgSign = true
[push]
  autoSetupRemote = true
[maintenance]
	repo = /home/hali/Documents/JW/outlines
[credential "https://dev.azure.com"]
	useHttpPath = true
