[init]
  templatedir = ~/.git_template
  defaultBranch = main
[user]
  email = halivelazquez@outlook.com
  name = Halí V.
  signingKey = 86C5CA92
[core]
  autocrlf = input
[pull]
  ff = only
  rebase = false
[merge]
  ff = no
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
[commit]
  gpgSign = true
