; [submodule "config/vifm/colors"]
; 	path = config/vifm/colors
; 	url = https://github.com/vifm/vifm-colors.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/eendroroy/alacritty-theme
