.config/alacritty/colors/
.config/alacritty/themes/
.config/vifm/colors/
vifminfo
.esdauth
.esd_auth
.php_cs
.npmrc
__pycache__/
vifminfo.json
.yarnrc
.ignore
.dotfiles/
.zsh_history
Documents/
Pictures/
Videos/

wiki_list.vim
