snippet base "Base for c++ problems"
#include <bits/stdc++.h>

using namespace std;

int main() {
	ios_base::sync_with_stdio(0);
	cin.tie(0);
	cout.tie(0);

	$0
	return 0;
}
endsnippet

snippet for "For loop"
for (${1:size_t} ${2:i} = ${3:0}; $2 < ${4:n}; ${5:++$2}) {
	$0
}
endsnippet

snippet coutpair "Print pair" b
std::cout << ${1:pair}.first << ", " << ${2:$1}.second << '\n';
endsnippet
