extends html, javascript

snippet vbase "Vue base"
<template>
  <div>
  </div>
</template>

<script>
  export default {

  };
</script>

<style scoped>

</style>
endsnippet

snippet data() "descripcion"
data() {
  return {
	  $0
  };
},
endsnippet
